<!DOCTYPE html>
<html>
  <head>
    <title>Тестовое задание</title>
    <style>
       body {
    background: #000000;
    color: rgb(255, 255, 255); 
   }
    </style>
  </head>

  <body>

      <h1>Загрузка</h1>


    
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
        <br>
        <br>
        <label>Номер работника</label>
        <br>
        <br>
        <input type="worker_id" name="worker_id">
        <br>
        <br>
         <input type=submit value=Распознать>
    </form>

    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}
 
  </body>
</html>